<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated featuremodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.kastel.sdq.featuremodel.presentation.FeaturemodelModelWizardID"
            name="%_UI_FeaturemodelModelWizard_label"
            class="edu.kit.kastel.sdq.featuremodel.presentation.FeaturemodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FeaturemodelModelFile.gif">
         <description>%_UI_FeaturemodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated featuremodel -->
      <editor
            id="edu.kit.kastel.sdq.featuremodel.presentation.FeaturemodelEditorID"
            name="%_UI_FeaturemodelEditor_label"
            icon="icons/full/obj16/FeaturemodelModelFile.gif"
            extensions="featuremodel"
            class="edu.kit.kastel.sdq.featuremodel.presentation.FeaturemodelEditor"
            contributorClass="edu.kit.kastel.sdq.featuremodel.presentation.FeaturemodelActionBarContributor">
      </editor>
   </extension>

</plugin>
